{% if page.title %}
{% capture title %}{{ page.title }} | {{ site.title }}{% endcapture %}
{% else %}
{% capture title %}{{ site.title }}{% endcapture %}
{% endif %}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">





<head>
  <title>{{ title }}</title>
  {% include google_analytics.html %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="{{ site.user.name }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" media="all">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}"
    href="{{ '/feed.xml' | relative_url }}" />

  <!-- favicon -->
  <link rel="shortcut icon" href="{{ site.favicon | relative_url }}" type="image/x-icon" />
  <link rel="icon" href="{{ site.favicon | relative_url }}" type="image/x-icon" />

  <!-- font -->
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,400i" rel="stylesheet">

   
  <style>
.fa-envelope {
  color: #222222 !important;
}
body.dark .fa-envelope {
  color: #ffffff !important;
}
</style>



<style>
.fa-envelope,
.fa-file-text {
  color: #ffffff !important;
  /* 文字阴影，白底上白色图标靠阴影显现 */
  text-shadow: 0 0 2px #000, 0 0 3px #000 !important;
  opacity: 1 !important;
}
html.dark .fa-envelope,
html.dark .fa-file-text {
  color: #ffffff !important;
  text-shadow: none !important;
}
</style>







</head>